.title {
  width: 100%;
  text-align: center;
  font-size: x-large;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--bottom-border);
}

.cart-items {
  list-style: none;
  margin: 0;
  padding: 0 0 1rem 0;
  max-height: 25rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--button-main);
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: var(--button-main-hover);
  border-color: var(--button-main-hover);
  color: white;
}

.actions .button--alt {
  color: var(--button-main);
  border: 2px solid var(--button-main);
}

.actions .button {
  background-color: var(--button-main);
  border: 2px solid var(--button-main);
  color: white;
}

.submitting {
  font-size: 2rem;
}
