.list-item {
  height: 15rem;
  margin: 4rem 1rem;
  animation: fade-in 0.5s ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.list-item img {
  width: 20rem;
  object-fit: cover;
}

.text {
  padding: 1.5rem;
  flex: 3;
}

.text h3 {
  font-size: 2rem;
  font-weight: 500;
}
.text p {
  font-size: 1.35rem;
}

.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

.form span {
  font-size: 15px;
  text-align: center;
}

@media only screen and (max-width: 980px) {
  .list-item {
    height: 18rem;
  }
}

@media only screen and (max-width: 715px) {
  .list-item {
    height: 20rem;
    margin: 1px 0;
  }

  .text h3 {
  }
}

@media only screen and (max-width: 600px) {
  .list-item {
    height: auto;
    margin-bottom: 2rem;
  }

  .list-item img {
    width: 70%;
    margin: 1.5rem auto 0 auto;
  }

  .form {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;

    padding-top: 0;
    padding-bottom: 2rem;
  }

  .form * {
    margin-left: 2rem;
    margin-right: 1rem;
  }

  .form span {
    font-size: 2.1rem;
    padding-bottom: 1.9rem;
  }

  .text {
    padding-bottom: 0;
  }

  .text h3 {
    text-align: center;
  }

  .text p {
    font-size: 1.5rem;
  }
}
