.menu-control {
  margin: 2rem auto 0 auto;
  width: 80%;
  animation: fade-in 0.1s ease-in;
}

.menu-control ul {
  list-style-type: none;
}

.heading {
  font-family: inherit;
  font-size: 3.25rem;
  font-weight: inherit;
  letter-spacing: 1px;
  margin: 1rem;
  color: inherit;
  text-shadow: none;

  text-align: center;
  animation: fade-in 0.5s ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 860px) {
  .menu-control {
    width: 90%;
    text-align: left;
  }

  .menu-control h3 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 715px) {
  .menu-control {
    width: 100%;
    /* border: 1px solid blue; */
  }
}

@media only screen and (max-width: 550px) {
  .menu-control {
    /* margin: 10px 0 0 0; */
  }
}
