.menu-control {
  margin: 3rem auto;
  width: 80%;
}

.menu-control ul {
  list-style-type: none;
}

.heading {
  font-family: inherit;
  font-size: 3.25rem;
  font-weight: inherit;
  letter-spacing: 1px;
  margin: 1rem;
  color: inherit;
  text-shadow: none;

  text-align: center;
}
