.menu-nav {
  width: 78%;
  margin: 0 auto;
  padding: 2rem;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--button-main);
  border-radius: 5px;
}

.menu-nav li {
  width: auto;
  cursor: pointer;
  /* margin: 0 3rem; */
}

.menu-nav li span {
  color: whitesmoke;
  text-decoration: none;
  font-size: medium;
  letter-spacing: 2px;
  line-height: 2.5rem;
  border-bottom: 2px solid transparent;
  transition: all 0.2s;
}

.menu-nav li span:hover,
.menu-nav li span.active {
  border-bottom: 2px solid whitesmoke;
}

.menu-nav a:link,
.menu-nav a:visited,
.menu-nav a:active {
  color: rgb(32, 34, 32);
  color: whitesmoke;
  text-decoration: none;
  font-size: medium;
  letter-spacing: 1px;
}

.menu-nav a:hover,
.menu-nav a.active {
  border-bottom: 2px solid whitesmoke;
}

@media only screen and (max-width: 715px) {
  .menu-nav {
    width: 100%;
    /* justify-content: center; */
  }

  .menu-nav li {
    width: auto;
  }
}

@media only screen and (max-width: 600px) {
  .menu-nav {
    border-radius: 0px;
    justify-content: space-evenly;
  }

  .menu-nav a:link,
  .menu-nav a:visited,
  .menu-nav a:active {
    font-size: 2.25rem;
  }
}
@media only screen and (max-width: 375px) {
  .menu-nav {
    padding: 2rem 1rem;
    justify-content: space-between;
  }
}
