.list-item {
  height: 17rem;
  margin: 4rem 1rem;
  box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  display: flex;

  /* border: 1px solid black; */
}

.list-item img {
  width: 25rem;
  object-fit: cover;
  border-radius: 2px;
}

.text {
  padding: 1.5rem;
  flex: 3;
}

.text h3 {
  font-size: large;
  font-weight: 400;
}

.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.form span {
  align-self: center;
  /* border: 1px solid black; */
}
