.list-item {
  height: 15rem;
  margin: 4rem 1rem;
}

.list-item img {
  width: 20rem;
  object-fit: cover;
}

.text {
  padding: 1.5rem;
  flex: 3;
}

.text h3 {
  font-size: 2.5rem;
  font-weight: 500;
}
.text p {
  font-size: 1.35rem;
}

.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

.form span {
  font-size: 15px;
  text-align: center;
}

@media only screen and (max-width: 980px) {
  .list-item {
    height: 18rem;
  }
}

@media only screen and (max-width: 715px) {
  .list-item {
    height: 20rem;
    margin: 1px 0;
  }

  .text h3 {
    /* font-size: 2rem; */
  }
}
