.menu-nav {
  width: 78%;
  margin: 0 auto;
  padding: 1rem;
  list-style-type: none;
  display: flex;
  justify-content: center;
  background-color:var(--button-main);
  border-radius: 5px;
}

.menu-nav li {
  width: 9%;
  margin: 1rem 3rem;
}

.menu-nav a:link,
.menu-nav a:visited,
.menu-nav a:active {
  color: rgb(32, 34, 32);
  color: whitesmoke;
  text-decoration: none;
  font-size: medium;
  letter-spacing: 1px;
  border-bottom: 2px solid transparent;
}

.menu-nav a:hover,
.menu-nav a.active {
  /* font-weight: 700; */
  /* border-bottom: 2px solid rgb(32, 34, 32); */
  border-bottom: 2px solid whitesmoke;
}

.menu-nav a:not(.active) {
  border: none;
}
