.mainImage {
  height: 40vh;
  width: 47%;
  margin: 0 3.5rem;
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  box-shadow: var(--img-shadow);
}

.mainImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 860px) {
  .mainImage {
    height: 250px;
  }
}

@media only screen and (max-width: 600px) {
  .mainImage {
    height: 350px;
    width: 100%;
    order: -1;
    margin: 0;
  }
}
