.bgVideo {
  overflow: hidden;
  text-align: center;
  background-color: black;
  margin: 0;
  padding: 0;
  height: 50vh;
  width: 100%;
  opacity: 0.95;
}

.bgVideoContent {
  opacity: 0.65;
  height: 100%;
  width: 70%;
  object-fit: cover;
  margin: 0;
}
