.grid {
  /* width: 47%; */
  display: grid;
  grid-template-columns: repeat(2, 12vw);
  grid-template-rows: repeat(2, 10vw);

  gap: 2rem;
  padding: 0 1.5rem;
  /* border: 1px solid black; */
}

.grid img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.home1 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.home2 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.home3 {
  grid-row: 1 / -1;
  grid-column: 2 / 3;
}

.about1 {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}
