.mainNav {
  margin-left: auto;
  display: flex;
}

.navList {
  display: flex;
  list-style: none;
}

.navList li {
  height: 40px;
  margin: 0 1rem;
  display: flex;
  align-items: center;
}

.navList a:link,
.navList a:active,
.navList a:visited {
  color: rgb(247, 247, 247);
  text-decoration: none;
  font-size: medium;
  border-bottom: 2px solid transparent;
  transition: all 0.2s;
  padding: 0.5rem 0;
}

.navList a:hover,
.navList a.active {
  border-bottom: 2px solid rgb(247, 247, 247);
}

@media only screen and (max-width: 980px) {
  .navList a:link,
  .navList a:active,
  .navList a:visited {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 860px) {
  .navList a:link,
  .navList a:active,
  .navList a:visited {
    /* font-size: smaller; */
  }
}

@media only screen and (max-width: 715px) {
  .mainNav {
    height: 50vh;
    width: 22rem;
    position: fixed;
    right: 0;
    z-index: 500;
  }

  .navList {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(32, 32, 32, 0.849);
  }
  /* 
  .navList::before {
    content: '';
    border-bottom: 2px solid white;
    width: 60%;
  } */

  .navList li {
    height: 20%;
    width: 100%;
    margin: 0;
    padding: 1.5rem 0 3rem 6rem;
    /* border-bottom: 1px solid rgba(32, 32, 32, 0.63); */
    /* border: 1px solid blue; */
  }

  .navList li a {
    height: 70%;
    width: 100%;
  }

  .navList a:hover,
  .navList a.active {
    border-bottom: 2px solid transparent;
    text-decoration: underline;
    text-underline-offset: 10px;
  }

  .navList a:link,
  .navList a:active,
  .navList a:visited {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .mainNav {
    height: 65vh;
  }
  .navList li {
    height: 20%;
    width: 100%;
    padding-top: 1rem;
    padding-left: 5rem;
    margin: 0;
  }

  .navList li a {
    height: 70%;
    width: 100%;
  }

  .navList a:link,
  .navList a:active,
  .navList a:visited {
    font-size: 2.5rem;
  }
}
