.mainNav {
  margin-left: auto;
  display: flex;
}

.navList {
  display: flex;
  list-style: none;
}

.navList li {
  height: 40px;
  margin: 0 1rem;
  display: flex;
  align-items: center;
}

.navList a:link,
.navList a:active,
.navList a:visited {
  color: rgb(247, 247, 247);
  text-decoration: none;
  font-size: medium;
  border-bottom: 2px solid transparent;
  transition: all 0.2s;
  padding: 0.5rem 0;
}

.navList a:hover,
.navList a.active {
  border-bottom: 2px solid rgb(247, 247, 247);
}

@media only screen and (max-width: 980px) {
  .navList a:link,
  .navList a:active,
  .navList a:visited {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 860px) {
  .navList a:link,
  .navList a:active,
  .navList a:visited {
    /* font-size: smaller; */
  }
}

@media only screen and (max-width: 715px) {
  .navList {
    flex-direction: column;
    width: 10rem;
    margin-top: 20rem;
    background-color: rgba(32, 32, 32, 0.63);
  }

  .navList::before {
    content: '';
    border-bottom: 2px solid white;
    width: 60%;
  }

  .navList li {
    width: 100%;
    padding-left: 2rem;
    margin: 0;
    border-bottom: 1px solid rgba(32, 32, 32, 0.63);
    /* border: 1px solid blue; */
  }
}
