.mainNav {
  margin-left: auto;
  display: flex;
  /* align-items: flex-end; */
  /* border: 1px solid black; */
}

.navList {
  display: flex;
  list-style: none;
}

.navList li {
  height: 40px;
  margin: 0 1rem;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  /* flex-direction: column;
  justify-content: center; */
}

.navList a:link,
.navList a:active,
.navList a:visited {
  color: rgb(247, 247, 247);
  text-decoration: none;
  font-size: large;
  border-bottom: 2px solid transparent;
  transition: all 0.2s;
  padding: 0.5rem 0;
}

.navList a:hover,
.navList a.active {
  border-bottom: 2px solid rgb(247, 247, 247);
}
