.section {
  position: relative;
  /* width: 60%; */
  margin: 0 auto;
  padding: 10rem 10rem;
  display: flex;
  background-color: rgb(247, 247, 247);
}

.hero {
  /* width: 100%; */
  margin: 0;
  padding: 0;
  display: block;
}

.description {
}

.featured {
  background-color: rgba(247, 235, 198, 0.411);
  /* background-color: antiquewhite; */
}

.locations {
}
