.slideshow {
  height: 25vh;
  width: 100%;
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
}

.slide {
  height: 100%;
  width: 500px;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
}

.slide img {
  /* height: 100%; */
  width: 50%;
  /* width: auto; */
  object-fit: cover;
}
