.featured {
  height: 40vh;
  width: 47%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.main-image {
  width: 100%;
  margin: 0 0 0 2.5rem;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: var(--img-shadow);
}

.main-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 715px) {
  .main-image {
    /* height: 35rem; */
  }
}

@media only screen and (max-width: 600px) {
  .featured {
    width: 100%;
    order: -1;
  }

  .main-image {
    margin: 0;
  }
}
