.main-image {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.image {
  height: 97%;
  width: 48%;
  object-fit: cover;
  border-radius: 2px;
  box-shadow: var(--img-shadow);
}

.celebrate {
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.celebrate strong {
  font-size: 2.75rem;
}

@media only screen and (max-width: 600px) {
  .main-image {
    flex-direction: column;
    margin: 0;
  }

  .image {
    width: 100%;
    box-shadow: none;
  }
}
