.featured {
  height: 60vh;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.list {
  list-style-type: none;
  width: 50%;
  margin: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list li {
  min-height: 25%;
}

.list li img {
  width: 35%;
  object-fit: cover;
}

.mainImage {
  width: 50%;
  margin: 0 1.5rem;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.mainImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dishInfo {
  height: 100%;
  padding: 1.4rem 1.75rem 0 1.75rem;
}

.dishInfo h3 {
  font-family: inherit;
  font-size: 1.7rem;
  color: inherit;
  text-shadow: none;
}

.dishInfo p {
  font-size: 1.4rem;
}

@media only screen and (max-width: 980px) {
  .featured {
    height: 85%;
  }
}

@media only screen and (max-width: 880px) {
  .list li {
    height: 30%;
  }

  .dishInfo {
    padding: 1rem 1.5rem;
  }

  .dishInfo p {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 600px) {
  .featured {
    width: 100%;
    margin: 0;
    flex-direction: column;
  }

  .list {
    width: 100%;
    margin: 0;
  }

  .list li {
    height: auto;
    margin-bottom: 1rem;
  }
  .list li img {
    width: 60%;
    margin: 2rem auto 1rem auto;
  }

  .dishInfo {
    width: 80%;
    margin: 0 auto;
  }

  .dishInfo h3 {
    text-align: center;
    font-size: 2rem;
  }

  .dishInfo p {
    font-size: 1.5rem;
  }

  .mainImage {
    height: 500px;
    width: 100%;
    margin: 2.5rem 0 0 0;
    border-radius: 0px;
    overflow: hidden;
  }
}
