.form-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  /* border: 1px solid black; */
}

.contact-form button {
  color: whitesmoke;
  border: none;
  /* border: 1px solid black; */
  flex: 0;
  /* align-self: flex-end; */
  margin-left: 72%;
  margin-right: 0;
}
