.contact-text-container {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.contact-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.contact-text h3 {
  font-size: 14px;
}

.contact-text p {
  margin: 1rem 0 0 0;
}
