.header {
}

.headerControl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: rgba(32, 34, 32, 0.253); */
  /* background-color: transparent; */
  margin: 0;
  padding: 2rem 4rem;
  color: rgb(247, 247, 247);
  z-index: 2;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  /* width: 60%; */
  margin: 0 auto;
}

.title {
  font-family: Italiana, Monaco, sans-serif;
  font-size: 4rem;
  color: rgb(247, 247, 247);
  margin: auto 2rem;
  text-shadow: 2px 2px 4px #000000;
  letter-spacing: 3px;
}
