.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: rgb(10, 70, 10); */
  background-color: transparent;
  margin: 0;
  padding: 2rem 4rem;
  color: aliceblue;
  z-index: 2;
}

.headerControl {
  display: flex;
  align-items: center;
  /* width: 60%; */
  margin: 0 auto;
}

.title {
  font-family: Italiana, Monaco, sans-serif;
  font-size: 4rem;
  margin: auto 2rem;
  text-shadow: 2px 2px 4px #000000;
  letter-spacing: 3px;
}
