.button {
  height: 100%;
  width: 3rem;
  color: white;
  background: transparent;
  position: relative;
  border: none;
  transition: all 0.1s;
}

.button:hover {
  transform: scale(1.1);
}

.bump {
  transform: scale(1.1);
}

.badge {
  height: 2rem;
  width: 2rem;

  color: white;
  font-size: 1rem;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.685);
  border-radius: 100px;
  position: absolute;
  bottom: 45%;
  right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
}

@media only screen and (max-width: 715px) {
  .button {
    width: 6rem;
  }

  .badge {
    height: 3.5rem;
    width: 3.5rem;

    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .button {
    width: 5rem;
  }
  
  .badge {
    height: 3rem;
    width: 3rem;
  
    font-size: 1.5rem;
    bottom: 52%;
  }
}
