.header {
}

.headerControl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 2rem 4rem;
  color: rgb(247, 247, 247);
  z-index: 2;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.title {
  font-family: Italiana, Monaco, sans-serif;
  font-size: 4rem;
  color: rgb(247, 247, 247);
  margin: auto 2rem;
  text-shadow: 2px 2px 4px #000000;
  letter-spacing: 3px;
}
