/* .side-drawer {
  display: none;
} */

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 715px) {
  .side-drawer {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;

    animation: slide-right 300ms ease-out forwards; 
    /* height: 100vh; */
    /* width: 70%; */
    /* background: white; */
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26); */
  }
}
