@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');

:root {
  --bp-large: 78.15em; /* 1250px */
  --bp-medium: 61.25em; /* 980px */
  --bp-medium-sm: 45em /* 860px */
  --bp-small: 37.5em; /* 715px */
  --bp-smallest: 31.25em; /* 600px */

  /* --heading1: rgb(252, 207, 95);
  --heading2: rgb(252, 207, 95); */

  /* --button-main: rgb(1, 107, 1);
  --button-main-hover: rgb(0, 139, 0); */

  --button-main: rgb(74, 143, 77);
  --button-main-hover: rgb(105, 172, 106);
  --button-main-text: rgb(243, 243, 243);

  --bottom-border: rgb(74, 143, 77);
  --bottom-border-cart-item: rgba(74, 143, 77, 0.274);

  --img-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  --card-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  --modal-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  --text-color: rgb(39, 39, 39);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  color: var(--text-color);
}

@media only screen and (max-width: 980px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 65%;
  }
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  background-color: rgba(245, 245, 245, 0.938);

  text-align: justify;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2 {
  font-family: 'Oleo Script', cursive;
}

button {
  border: none;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-width: 0px;
  outline: none;
  cursor: not-allowed;
}

section {
  transition: all .8s;
}

.hidden {
  opacity: 0;
}

.btn,
.btn-disabled,
.btn-error,
.btn-alt {
  /* width: 23%; */
  margin-top: 20px;
  padding: 1rem 1.25rem;
  background-color: var(--button-main);
  border-radius: 20px;
  /* color: rgb(29, 66, 8); */
  color: rgb(243, 243, 243);
  font-size: 1.25rem;
  transition: all 0.2s;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.btn:link,
.btn:visited,
.btn:hover,
.btn:active {
  text-decoration: none;
}

.btn:hover,
.btn-error:hover {
  background-color: var(--button-main-hover);
}

.btn-disabled {
  background-color: rgb(170, 170, 170);
  cursor: not-allowed;
}

.btn-alt {
  color: var(--button-main);
  background-color: transparent;
}

.btn-alt:hover {
  color: white;
  background-color: rgb(245, 205, 106);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
}

.container {
  width: 900px;
  margin: 0 auto;
  padding: 8rem 2rem 10rem 2rem;
  display: flex;
  justify-content: center;
}


.container-text p {
  font-size: 1.35rem;
  margin-bottom: 3rem;
}

.container-text {
  padding: 0 1.5rem 2.5rem 1.5rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container-img {
  padding: 0 1.5rem;
  margin: 0;
  display: flex;
}

.container-50 {
  width: 50%;
}

.container-video,
.container-image {
  width: 100%;
  padding: 0%;
  display: block;
}

.container h2 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.flex-column {
  flex-direction: column;
  justify-content: flex-start;
}


.section {
  position: relative;
  margin: 0 auto;
  display: flex;
}


.bg-awhite {
  background-color: rgb(238, 165, 81);
  background-color: rgb(252, 244, 235);
}

.hero {
  margin: 0;
  padding: 0;
  display: block;
}

.sticky {
  background-color: #202020e0;
}

@media only screen and (max-width: 980px) {
  .container {
    width: 90%;
    margin: 20px auto;
    padding: 8rem 2rem 10rem 2rem;
  }
}
@media only screen and (max-width: 600px) {
  h2 {text-align: left;}

  .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .container-img {
    padding: 0;
  }

  .container-text {
    padding: 3rem 2rem 0rem 2rem;
  }
  
  .container-50 {
    width: 100%;
  }
  
  .flex-wrapper {
    flex-direction: column-reverse;
    align-items: stretch;
  }
  
  .section {
    flex-direction: column;
  }
  
}

